/* WARNING: disable overwrite stiches components default style */
/* @tailwind base; */
@tailwind components;
@tailwind utilities;
@tailwind base;

.signature {
  font-weight: lighter;
  font-family: 'Beth Ellen', cursive;
}

.font-eb {
  font-family: 'EB Garamond', serif;
}

.bg-sensi {
  background: linear-gradient(180deg,#232c3d,#0b1016);
}

/* TODO: auto generate in stiches css */
.year-2023-april:first-of-type .month {
  display: block;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply bg-black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.issue {
  view-transition-name: issue;
}

/* Enter */
::view-transition-new(issue) {
  animation: 300ms ease both fade-in;
}

/* Exit */
::view-transition-old(issue){
  animation: 150ms ease both fade-out;
}

@keyframes fade-in {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes fade-out {
  0% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}