/* WARNING: disable overwrite stiches components default style */
/* @tailwind base; */
@tailwind components;
@tailwind utilities;
@tailwind base;

.signature {
  font-weight: lighter;
  font-family: 'Beth Ellen', cursive;
}

.font-eb {
  font-family: 'EB Garamond', serif;
}

.bg-sensi {
  background: linear-gradient(180deg,#232c3d,#0b1016);
}

/* TODO: auto generate in stiches css */
.year-2023-april:first-of-type .month {
  display: block;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply bg-black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.issue {
  view-transition-name: issue;
}

/* Disable default transition animation */
::view-transition-new(root),
::view-transition-new(root) {
  /* Prevent the default animation,
  so both views remain opacity:1 throughout the transition */
  animation: none;
  /* Use normal blending,
  so the new view sits on top and obscures the old view */
  mix-blend-mode: normal;
}

::view-transition-old(issue),
::view-transition-new(issue) {
  /* Prevent the default animation,
  so both views remain opacity:1 throughout the transition */
  animation: none;
  /* Use normal blending,
  so the new view sits on top and obscures the old view */
  mix-blend-mode: normal;
}
